
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Wet+Paint&family=Smooch+Sans:wght@200&display=swap');
body{
	background: radial-gradient(circle, rgba(5,176,13,1) 40%, rgba(233,189,148,1) 82%);
	margin: 0px;
}


nav{
	background: darkblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
}
nav img{
	height: 120px;
	border-radius: 50%;
	border: 2px solid white;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; 
}
nav ul li a{
	color: white;
	margin-left:  15px;
	padding: 10px 25px;
	background-color: blue;
	border-radius: 15px;
	border: 2px solid red;
}

header{
	padding-top: 100px;
	background-image: url(s.jpg);
	background-size: cover;
	background-position: center;
	justify-content:center;
	align-items: center;
	display:flex;
	height: 700px;
}
h1{

	font-family: "rubik wet paint";
	color: black;

	
}

header h1{
	color: white;
}

section{
	padding: 80px;
}
#link1{
	background-color: lightsteelblue;
	font-family: "rubik wet paint"
}

#link2{
	background-color: lightcoral;
	font-family: "rubik wet paint"
}
#link3{
	background-color: lightseagreen;
	font-family: "rubik wet paint"
}