h1{
	background: linear-gradient(90deg, rgba(33,120,170,1) 13%, rgba(73,62,9,0.927608543417367) 29%, rgba(20,30,76,1) 42%, rgba(60,98,9,1) 56%, rgba(121,9,9,1) 71%, rgba(75,28,185,0.7399334733893557) 85%, rgba(255,0,185,1) 91%);
	text-align: center;
	color: white;
	font-size: 75px;
	font-family: cursive;
	padding: 45px;

}
h2{
	background: linear-gradient(90deg, rgba(19,73,9,0.927608543417367) 17%, rgba(33,120,170,1) 46%, rgba(98,9,9,1) 58%, rgba(12,9,121,1) 71%, rgba(75,28,185,0.7399334733893557) 85%, rgba(255,0,185,1) 91%);
	text-align: center;
	color: white;
	font-size: 75px;
 font-family: cursive;
	font-family: cursive;
}
h3{
	background: radial-gradient(circle, rgba(73,67,9,0.927608543417367) 14%, rgba(9,50,73,0.927608543417367) 29%, rgba(98,9,9,1) 39%, rgba(9,121,48,1) 64%, rgba(75,28,185,0.7399334733893557) 81%, rgba(255,0,185,1) 96%);
 text-align: center;
 color: white;
 font-size: 75px;
 padding: 45px;
 }


body{
	background: linear-gradient(90deg, rgba(73,9,9,0.927608543417367) 15%, rgba(9,70,73,0.927608543417367) 23%, rgba(23,98,9,1) 47%, rgba(121,9,9,1) 55%, rgba(75,28,185,0.7399334733893557) 85%, rgba(255,0,185,1) 99%);
}