@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:  linear-gradient(90deg, rgba(176,5,57,1) 27%, rgba(5,17,176,1) 46%, rgba(148,233,199,1) 71%);
	font-family: "Roboto",sans-serif;
}

article .image{
	height: 180px;
	width: 300px;
	background-image: url("rc.jpg");
	background-size: cover;
	background-position: center;
	padding: 20px;
}
article .text{
	height: 250px;
	width: 300px;
	background-color: white;
	padding: 20px;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}
article  .text .header{
	text-transform: uppercase;
	font-family: "Roboto",sans-serif;
}

article .text .footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto",sans-serif;
}
article .box{
	background-color: red;
	color: white;
	text-transform: uppercase;
	padding: 6px;
	position: absolute;
	left: 0px;
	top:190px;
}

article{
	position: relative;
}